body {
    margin-bottom: 240px;
}
.grade-form form {
    max-width: 900px;
}

.grade-form .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-footer {
    bottom: 0px;

}

.col-third {
    padding-right: 10px;
    float: left;
    width: 33.33333333%;
}

    .col-third input[type="number"] {
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 7px;
        width: 100%;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    }

    .col-third:last-of-type {
        padding-right: 0;
    }

form .row:first-child .form-group {
    margin-left: -15px;
}

.grade-list {
    margin-top: 100px;
}
