
@{
    ViewData["Title"] = "ForgotenPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/css/forgoten-password.css")" rel="stylesheet" type="text/css" />
}
<section class="forgoten-password-section">
    <div class="container">
        <div class="forgoten-password-box">
            <form action="ForgotenPassword" method="post">
                <!-- to error: add class "has-danger" -->
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control form-control-sm" name="username">
                </div>

                <button type="submit" class="btn btn-primary btn-block">Send</button>
                <small class="form-text text-muted">We'll send you your password to mail</small>
            </form>
        </div>
    </div>
</section>

